---
http_interactions:
- request:
    method: post
    uri: https://staging.bloomnet.center/api/v1/txns
    body:
      encoding: UTF-8
      string: '{"data":{"type":"txns","attributes":{"sender-first-name":"Fatima","sender-last-name":"Roberto","sender-street":"24
        Lilian St","sender-city":"Sum City","sender-province":"Sum Province","recipient-first-name":"Mike","recipient-last-name":"Roberto","recipient-street":"33
        Up St","recipient-city":"Upcity","recipient-contact-number":"+638188927288","amount":"2050.0","currency":"PHP"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - HMAC-SHA256 59514c60d8515aba92c0395e73373611:b106a9587fffba94642ecac057e29e0704a7b6e933cd2a69eeb2c677aceb0ab7
  response:
    status:
      code: 201
      message: Created
    headers:
      Alternate-Protocol:
      - 443:quic
      Content-Type:
      - application/vnd.api+json
      Etag:
      - W/"0919a183c9f7c2df8158164cc027bf32"
      Location:
      - https://staging.bloomnet.center/api/v1/txns/ET3CU2A9
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ET3CU2A9","type":"txns","links":{"self":"https://staging.bloomnet.center/api/v1/txns/ET3CU2A9"},"attributes":{"sender-first-name":"Fatima","sender-last-name":"Roberto","sender-street":"24
        Lilian St","sender-city":"Sum City","sender-province":"Sum Province","sender-contact-number":null,"recipient-first-name":"Mike","recipient-last-name":"Roberto","recipient-street":"33
        Up St","recipient-city":"Upcity","recipient-province":null,"recipient-contact-number":"+638188927288","currency":"PHP","amount":"2050.0","account":null,"status":"unfunded"}}}'
  recorded_at: Tue, 21 Mar 2017 02:50:34 GMT
recorded_with: VCR 3.0.3
