---
http_interactions:
- request:
    method: post
    uri: https://staging.bloomnet.center/api/v1/claims
    body:
      encoding: UTF-8
      string: '{"data":{"type":"claims","attributes":{"tracking-no":"SOMERANDOM","account":"GDYRAPR626KVQVEF2HTPGR6TCAHVYVGKBO63PZA4FGKZAYAWIC5GBTP2"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - HMAC-SHA256 59514c60d8515aba92c0395e73373611:d8fedb29f0e8df1c658fc72c729e24f490c6bb0be367d32c3d963e24258d60fe
  response:
    status:
      code: 201
      message: Created
    headers:
      Alternate-Protocol:
      - 443:quic
      Content-Type:
      - application/vnd.api+json
      Etag:
      - W/"2092c5b4602631877e5f586417cb9a98"
      Location:
      - https://staging.bloomnet.center/api/v1/claims/23
    body:
      encoding: UTF-8
      string: '{"data":{"id":"23","type":"claims","links":{"self":"https://staging.bloomnet.center/api/v1/claims/23"},"attributes":{"tracking-no":"SOMERANDOM","status":"fresh","account":"GDYRAPR626KVQVEF2HTPGR6TCAHVYVGKBO63PZA4FGKZAYAWIC5GBTP2"}}}'
  recorded_at: Sat, 06 May 2017 15:28:44 GMT
recorded_with: VCR 3.0.3
