---
http_interactions:
- request:
    method: post
    uri: https://staging.bloomnet.center/api/v1/claims
    body:
      encoding: UTF-8
      string: '{"data":{"type":"claims","attributes":{"ref-no":"SOMERANDOM","account":"GDYRAPR626KVQVEF2HTPGR6TCAHVYVGKBO63PZA4FGKZAYAWIC5GBTP2"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - HMAC-SHA256 59514c60d8515aba92c0395e73373611:b403eb0865cb2bf747bdc8ba5cf74ce71257f2c0b067b900ccd162d12ffe2682
  response:
    status:
      code: 201
      message: Created
    headers:
      Alternate-Protocol:
      - 443:quic
      Content-Type:
      - application/vnd.api+json
      Etag:
      - W/"f0dcad52d7d3c77f33284a7d83e0872d"
      Location:
      - https://staging.bloomnet.center/api/v1/claims/SOMERANDOM
    body:
      encoding: UTF-8
      string: '{"data":{"id":"SOMERANDOM","type":"claims","links":{"self":"https://staging.bloomnet.center/api/v1/claims/SOMERANDOM"},"attributes":{"ref-no":"SOMERANDOM","status":"fresh","account":"GDYRAPR626KVQVEF2HTPGR6TCAHVYVGKBO63PZA4FGKZAYAWIC5GBTP2"}}}'
  recorded_at: Mon, 27 Mar 2017 02:21:10 GMT
recorded_with: VCR 3.0.3
