---
http_interactions:
- request:
    method: post
    uri: https://staging.bloomnet.center/api/v1/txns
    body:
      encoding: UTF-8
      string: '{"data":{"type":"txns","attributes":{"sender-first-name":"Fatima","sender-last-name":"Roberto","sender-street":"24
        Lilian St","sender-city":"Sum City","sender-province":"Sum Province","recipient-first-name":"Mike","recipient-last-name":"Roberto","recipient-street":"33
        Up St","recipient-city":"Upcity","recipient-mobile":"+638188927288","amount":"2050.0","currency":"PHP"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - HMAC-SHA256 59514c60d8515aba92c0395e73373611:422144b7595244da58a0768d70913e7fe262739de01364fdbd9773e2f20a0630
  response:
    status:
      code: 201
      message: Created
    headers:
      Alternate-Protocol:
      - 443:quic
      Content-Type:
      - application/vnd.api+json
      Etag:
      - W/"49a3bd63e6ae2ceaadfc6c0a3a2269b8"
      Location:
      - https://staging.bloomnet.center/api/v1/txns/4RVR92XL
    body:
      encoding: UTF-8
      string: '{"data":{"id":"4RVR92XL","type":"txns","links":{"self":"https://staging.bloomnet.center/api/v1/txns/4RVR92XL"},"attributes":{"sender-first-name":"Fatima","sender-last-name":"Roberto","sender-street":"24
        Lilian St","sender-city":"Sum City","sender-province":"Sum Province","sender-mobile":null,"recipient-first-name":"Mike","recipient-last-name":"Roberto","recipient-street":"33
        Up St","recipient-city":"Upcity","recipient-province":null,"recipient-mobile":"+638188927288","currency":"PHP","amount":"2050.0","account":"GB4BPRQI7PHU3ZA25253FNKBBFS3WNTSFWPXCV7V23PF2GFPJGE5GAS5","status":"unfunded","tracking-no":"4RVR92XL","ref-no":"NILEDKWDM31N"}}}'
  recorded_at: Mon, 08 May 2017 06:52:55 GMT
- request:
    method: get
    uri: https://staging.bloomnet.center/api/v1/txns/4RVR92XL
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - HMAC-SHA256 59514c60d8515aba92c0395e73373611:a08da942016350ac400a2543d3844c4301fb4c13de93288070a4c5aa28647e67
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:quic
      Content-Type:
      - application/vnd.api+json
      Etag:
      - W/"49a3bd63e6ae2ceaadfc6c0a3a2269b8"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"4RVR92XL","type":"txns","links":{"self":"https://staging.bloomnet.center/api/v1/txns/4RVR92XL"},"attributes":{"sender-first-name":"Fatima","sender-last-name":"Roberto","sender-street":"24
        Lilian St","sender-city":"Sum City","sender-province":"Sum Province","sender-mobile":null,"recipient-first-name":"Mike","recipient-last-name":"Roberto","recipient-street":"33
        Up St","recipient-city":"Upcity","recipient-province":null,"recipient-mobile":"+638188927288","currency":"PHP","amount":"2050.0","account":"GB4BPRQI7PHU3ZA25253FNKBBFS3WNTSFWPXCV7V23PF2GFPJGE5GAS5","status":"unfunded","tracking-no":"4RVR92XL","ref-no":"NILEDKWDM31N"}}}'
  recorded_at: Mon, 08 May 2017 06:52:56 GMT
recorded_with: VCR 3.0.3
